<!-- <*> Ideally, this file should only contain component tags. Placeholder layout for now -->


<div class="wrapper">
  <h1>Express/Angular app Boilerplate</h1>
  <p>This is an adjustable boilerplate for a web app using Node.js, MongoDB, and Mongoose back-end <br> with routing-driven Angular front-end.</p>
  <p>Search the file structure for this:</p>
  <h4> &lt;*&gt; </h4>
  <p>to find places in the code where your own settings and naming conventions will go.</p>
  <a [routerLink]="['home']">Sample One Component</a> | 
  <a [routerLink]="['elsewhere']">Sample Two Component</a>
  <!-- names 'home' and 'elsewhere' are arbitrary -->
  
  <router-outlet></router-outlet>

</div>
